body {
	background: url(http://blogs-images.forbes.com/chriswright/files/2014/11/stock-market-quotes1.jpg) no-repeat center center fixed;
	background-size: cover;
	text-align: center;
}
.container {
	background-color: rgba(0,0,0,0.7);
	color: white;
	max-width: 960px;
	height: 100vh;
	padding: 10px;
	margin: 0 auto;
}


.page_column {
	display: inline-block;
	vertical-align: top;
	min-width: 400px;
	width: 450px;
}

.balance {
	font-size: 2em;

}
table {
	width: 100%;
}